body {
  background-color: white;
  max-height: 100vh;
  max-width: 100vw;
}

.navigation {
  width: 250px;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  color: white;
}

.nickname-greating {
  color: lightgreen;
}

.menu ul a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
}

.content {
  height: 100vh;
  overflow-y: scroll;
}
