body {
  background-color: #66CDAA;
  max-height: 100vh;
  max-width: 100vw;
}

.content-container {
  padding: 0;
}

.navigation {
  width: 250px;
  height: 100vh;
  background-color: #336655;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  color: white;
}

.nickname-greating {
  color: lightgreen;
}

.menu ul a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  color: white;
}

.social-side-bar {
  height: 100vh;
  background-color: #336655;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  height: 100vh;
  overflow-y: scroll;
}
