.add-post-button {
  margin: 20px 0;
}

.add-post-button button{
  background-color: #336655;
  box-shadow: 0px 0px 4px #336655;
  color: white;
}

.add-post-button button:hover{
  background-color: #111312;
  color: white;
}

.wrapped {
  column-width : 250px;
  column-gap: 15px;
  max-width: 1100px;
}

.wrapped div{
  display: inline-block;
  break-inside: avoid;
}

.stream-post-box {
  margin: 10px;
  box-shadow: 0px 0px 7px #336655;
  text-align: center;
  background-color: #19332A;
  color: white;
  border: 3px solid rgb(216,216,216);
  border-radius: 20px;
}

.div-add-card {
  opacity: 0.5;
}

.div-add-card:hover{
  opacity: 1;
}

.img-thumbnail {
  padding: 0;
  border-width: 0;
  border-radius: 0;
}

.author-date-publication {
  font-size: 12px;
  color: grey;
}

.stream-post-box {
  margin: 10px;
}
